[submodule "libraries/lithium"]
	path = libraries/lithium
	url = git://github.com/UnionOfRAD/lithium.git
[submodule "app/libraries/li3_assets"]
	path = app/libraries/li3_assets
	url = git://github.com/ifunk/li3_assets.git
[submodule "app/libraries/li3_pagination"]
	path = app/libraries/li3_pagination
	url = git://github.com/theDisco/li3_pagination.git
