// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
//@import "foundation";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

@import "foundation/foundation-global"; // *always required
@import "foundation/components/global"; // *always required
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

@import "compass/css3";

html { height: auto; }

body {
  //background: #4e1550 url('../../img/headerbackground.png') repeat;
	margin: 0 60px;
	position: relative;
}

body > header {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-image: url('../../img/headerbackground.png');
	@include box-shadow(0px 0px 14px 0px #000);
	& hgroup {
		width: 50%;
		float: left;
		text-align: left;
		& h1 {
			font-family: 'Playfair Display', serif;
			width: 500px;
			font-weight: 900;
			font-style: italic;
			color: #fff;
			margin: 0;
			letter-spacing: 2px;
			font-size: 3.5em;
			text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
		}
		& h2 {
			font-family: 'Vollkorn', serif;
			font-weight: 400;
			font-style: italic;
			letter-spacing: 2px;
			color: #fff000;
			font-size: 0.8em;
			padding-left: 13.4%;
			margin-top: -15px;
			text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
		}
	}
	& nav {
		width: 50%;
		float: left;
		text-align: right;
		& ul {
			display: inline-block;
			list-style: none;
			margin: 0;
			padding-top: 34px;
			white-space: nowrap;
			& li {
				display: inline-block;
				& a {
					text-decoration: none;
					color: #fff;
					font-family: 'Lato', sans-serif;
					font-weight: 100;
					letter-spacing: 1px;
					font-size: 1.3em;
					margin-right: 40px;
					//@include text-shadow(2px 4px 3px rgba(0,0,0,0.3));
					&:hover {
						color: #fff000;
						@include transition(color .12s ease-in-out);
					}
				}
			}
		}
	}
}

#main-content {
	background: #fff;
	margin-top: 150px;
	min-height: 200px;
	& .image-link {
		display: block;
		background-size: 100%;
		background-repeat: no-repeat;
		padding: 0;
		margin: 0;
		@include border-radius(4px);
		@include box-shadow(0px 0px 5px 0px rgba(0,0,0,.5));
		& img {
			border: 0;
			width: 100%;
			opacity: 0;
		}
	}
}

.latest-list {
	& li{
		& a {
			display: block;
			& .img-container {
				background-size: 100%;
				background-position: center;
				background-repeat: no-repeat;
				@include border-radius(4px);
				@include box-shadow(0px 0px 5px 0px rgba(0,0,0,.5));
				& img {
					width: 100%;
					opacity: 0;
				}
			}
			& .date { 
				border: 0; 
				color: #666;
				display: block;
				cursor: default;
				text-align: right;
			}
		}
	}
}

.comments {
	list-style: none;
	margin: 0;
	padding: 0;
	& li { padding-top: 5px; border-top: solid 1px #ccc;
		& p { margin-bottom: 5px; }
	}
	& .date {
		display: block;
		border-bottom: 0;
		text-align: right;
		font-size: 10px;
		font-style: italic;
		cursor: default;
	}
}

.pagination {
	& ul {
		list-style: none; 
		margin: 20px auto;
		display: inline-block;
		& li {
			display: inline-block;
			margin: 0 5px;
			&.active a { color: #4e1550; cursor: default; }
		}
	}
}

#progress-shade {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: #4e1550;
	margin: 0 -60px;
	display: none;
	opacity: 0.6;
	z-index: 999;
	& .progress {
		position: absolute;
		top: 50%;
		margin: -25px auto 0 auto;
	}
}
